.container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    margin-left: auto;
    margin-right: auto;
    max-width: 100vw;
    text-align: center;
    background-color: #212121;
}
.footer {
    color: white;
    text-align: left;
    display: inline-block;
    max-width: 1140px;
    margin: 2rem;
}

a {
    color: white;
    font-weight: 400;
    letter-spacing: 0.4px;
    text-decoration: none;
}

a:hover {
    color: #d2a21b;
}

.footer.col-1 {

}

.footer.col-2 {
}

.footer.col-3 {
}

ul {

}

.copyright{
width:30vw;
}

.social-icons {
  
}

.social-icon {
    margin: 5px;
}

.social-icon:hover {
    color: #d2a21b;
}