<div class="container">
    <div class="hero-background">
        <div class="hero-main">
            <div class="hero-logo"></div>
            <div class="hero-sub">
                <h1>ArQmA - digital currency </h1>
                <h2 style="font-size: 2rem; margin: 2rem 0rem 2rem 0rem">Decentralization</h2>
                <p class="hero-text">ArQmA is at the heart of the ARQ-Network to empower merchants with fast and secure transactions without any middleman at a very low fee.</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="what-is-arqma">
        <div class="whatIs-main">
            <div class="whatIs-logo">
                <img src="../../assets/images/about-image.png" />
            </div>
            <div class="whatIs-text">
                <h2 style="color: #FDBF1E; font-size: 2.8rem; letter-spacing: 0.4px;">What is ArQmA?</h2>
                <p>ArQmA is a decentralized public blockchain project and is fully open source. The development team consists of enthusiasts who have been dealing with cryptography and computer science for a long time.</p>
            </div>
            <div class="row">
                <div class="column">
                    <ul>
                        <li>Of the people, by the people, for the people</li>
                        <li>User friendly and community driven</li>
                        <li>Anonymous and untraceable</li>
                    </ul>
                </div>
                <div class="column">
                    <ul>
                        <li>Of the people, by the people, for the people</li>
                        <li>User friendly and community driven</li>
                        <li>Anonymous and untraceable</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="FGNetwork">
        <div class="FGNetwork-main">
            <div class="FGNetwork-logo">
                <img src="../../assets/images/mobile-logo.png" />
            </div>
            <div class="FGNetwork-text">
                <h2 style="color: #FDBF1E; font-size: 2.8rem; letter-spacing: 0.4px;">The Fastest Growing Network</h2>
                <hr>
                <p style="margin:2rem 0rem 2rem 0rem;">
                    ArQmA is based on the Monero codebase and is constantly enhanced with new features, developed by the team itself or integrated from the rich and flourishing Cryptonote ecosystem. Actually, the ArQmA Network uses the RandomARQ PoW Hashing Algorithm, is ASIC and Nicehash resistant to give everyone a chance to mine. The blockchain is fast to synchronize. Transfers are anonymous and untraceable using Bulletproof RingCT.
                </p>
                <hr>
            </div>
            <img src="../../assets/images/white_logo_transparent_background-250x93.png" />
        </div>
    </div>
</div>
<div class="container">
    <div class="Founder">
        <div class="Founder-main">
            <div class="Founder-logo">
                <img src="../../assets/images/michal-300x300.jpg" />
            </div>
            <div class="Founder-text">
                <h2 style="color: #FDBF1E; font-size: 2.8rem; letter-spacing: 0.4px;">MICHAL VEL M@LBIT</h2>
                <hr>
                <p>
                    CEO/CO-FOUNDER
                </p>
                <hr>
                <ul class="social">
                    <li>
                        <a href="https://www.facebook.com/profile.php?id=100001235605826" target="_blank">
                            <i class="fab fa-facebook">Facebook</i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/malbit" target="_blank">
                            <i class="fab fa-github">GitHub</i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/MalickiMichal" target="_blank">
                            <i class="fab fa-twitter">Twitter</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="Exchanges">
        <div class="Exchanges-main">
            <div class="Exchanges-text">
                <h2 style="font-size: 2.8rem; letter-spacing: 0.4px;">Where To Trade ArQmA</h2>
                <p style="color: #212121; font-size: 1.6rem; letter-spacing: 0.4px; ">
                    ArQmA is listed in various popular crypto exchanges
                </p>
            </div>
            <div class="Exchanges-logo">
                <img src="../../assets/images/citex-logo.png" />
                <img src="../../assets/images/tradeogre-logo.png" />
                <img src="../../assets/images/crex24-logo.png" />
                <img src="../../assets/images/bisq-logo.png" />
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="Roadmap">
        <div class="Roadmap-main">
            <div class="Roadmap-text">
                <h2 style="font-size: 2.8rem; letter-spacing: 0.4px;color:white;">Roadmap</h2>
                <p>
                    ArQmA connects banks, payment providers, digital asset exchanges, corporations, and simple people via crypto to provide a payment system for everyone.
                </p>
            </div>
            <div class="Roadmap-logo">
                <a href="#" class="button">Roadmap</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="Partners">
        <div class="Partners-main">
            <div class="Partners-text">
                <h2 style="font-size: 2.8rem; letter-spacing: 0.4px;">Our Partners</h2>
            </div>
            <div class="Partners-logo">
                <img src="../../assets/images/CoreTransBlack-square-150x150.png" />
            </div>
        </div>
    </div>
</div>